<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">
  <display-name>2--Item3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>Tool.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ExportClientServlet</display-name>
    <servlet-name>ExportClientServlet</servlet-name>
    <servlet-class>OrderDao.servlet.ExportClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportClientServlet</servlet-name>
    <url-pattern>/ExportClientServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestorderServlet</display-name>
    <servlet-name>GuestorderServlet</servlet-name>
    <servlet-class>OrderDao.servlet.GuestorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestorderServlet</servlet-name>
    <url-pattern>/GuestorderServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduceproductServlet</display-name>
    <servlet-name>ProduceproductServlet</servlet-name>
    <servlet-class>OrderDao.servlet.ProduceproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduceproductServlet</servlet-name>
    <url-pattern>/ProduceproductServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuesmanaServlet</display-name>
    <servlet-name>GuesmanaServlet</servlet-name>
    <servlet-class>OrderDao.servlet.GuestmanaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuesmanaServlet</servlet-name>
    <url-pattern>/GuestmanaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuydocumentServlet</display-name>
    <servlet-name>BuydocumentServlet</servlet-name>
    <servlet-class>RepertoryDao.servlet.BuydocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuydocumentServlet</servlet-name>
    <url-pattern>/BuydocumentServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentincaseServlet</display-name>
    <servlet-name>PaymentincaseServlet</servlet-name>
    <servlet-class>RepertoryDao.servlet.PaymentincaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentincaseServlet</servlet-name>
    <url-pattern>/PaymentincaseServlet.do</url-pattern>
  </servlet-mapping>
</web-app>