.np { CURSOR: hand; COLOR: black;  height: 26px; font-family: "Webdings"; text-align: center}

BODY
{
	SCROLLBAR-FACE-COLOR: #C8DAFA;
	FONT-SIZE: 9pt;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #9EBDF6;
	WORD-BREAK: break-all;
	SCROLLBAR-3DLIGHT-COLOR: #9EBDF6;
	SCROLLBAR-ARROW-COLOR: #a7c4f7;
	FONT-FAMILY: "verdana", "宋体", "Seoul", "Gulim";
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #C8DAFA;
	LETTER-SPACING: 1px；;
	background-color: #FFFFFF	  
}
td
{  
    FONT-SIZE: 9pt;  
    FONT-FAMILY:  "宋体";
}
.input
{
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	FONT: 10pt "宋体";
	COLOR: #333333;
	PADDING-TOP: 0px;
	border: 1px solid #BCE2F5;
}
.button
{  
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
	background-color:#E8E8E8;
  BORDER-RIGHT: #D2D2D2 1px solid; BORDER-TOP: #D2D2D2 1px solid; BORDER-LEFT: #D2D2D2 1px solid; BORDER-BOTTOM: #D2D2D2 1px solid;
}
A {text-decoration: none; color: #0000CC; font-size: 9pt}
A:hover
{
    COLOR: darkorange;
    TEXT-DECORATION: none
}

.yr_01{  height: 65px; background: url(../images/top_banner.jpg)}

.yr_02{  height: 65px; background: url(../images/top_bg.jpg)}
.yr_03 {  background-image: url(../images/top_bg2.jpg); height: 25px;}
.yr_04{
	font-size: 9pt;
	color: #666666;
}
.yr_05{
	font-size: 9pt;
	background-color:#5CBBE9;
}

.yr_06{
	font-size: 9pt;
	background-color: #D7EEFE;
	color:#464646;
	font-weight:normal;
	height:18pt;
	text-align:center;
	line-height: 20px;
}
.yr_07{
	font-size: 9pt;
	background-color:#FCFCFC;
	color:#818181;
}

.yr_17{
	font-size: 9pt;
	background-color:#oooooo;
	color:#818181;
}   
.yr_08{
	font-size: 9pt;
	background-color: #D7EEFE;
	color:#464646;
	font-weight:normal;
	height:18pt;
	line-height: 20px;
}
.yr_09{
	font-size: 9pt;
	background-color: #FFFFFF;
	height:18pt;
}
.yr_10{
	font-size: 9pt;
	background-color:#D5EDF9;
}
.yr_12{
	font-size: 9pt;
	background-color: #FFFFFF;
	height:18pt;
}
.yr_111{
	font-size: 18pt;
	background-color: #3399CC;
	color:#FFFFFF;
	font-weight:bold;
	height:22pt;
	bgcolor="#CCCCCC"
}
.yr_13{
	font-size: 9pt;
	background-color:#ffffff;
	border:1px   solid   #000000;
}

.yr_14{
	border:1px   solid   #000000;
}
.yr_15{
	font-size: 9pt;
	background-color:#00ff00;
}